{% extends "base.html.twig" %}

{% block container %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.task) }}
        {{ form_errors(form.task) }}
        {{ form_widget(form.task, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form.task) }}
    </div>

    <div class="form-group form-inline">
        <div style="margin-right: 10px;">{{ form_label(form.dueDate) }}</div>
        {{ form_errors(form.dueDate) }}
        {{ form_widget(form.dueDate.day, {'attr': {'class': 'form-control col-sm-1'}}) }}
        {{ form_widget(form.dueDate.month, {'attr': {'class': 'form-control col-sm-3'}}) }}
        {{ form_widget(form.dueDate.year, {'attr': {'class': 'form-control col-sm-2'}}) }}
        {{ form_help(form.dueDate) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>

    {{ form_end(form) }}

    <h2 class="row">Пользователи бд mysitedb:</h2>
    {% for user in users_mysitedb %}
        <div class="row">
            {{ user.name }}, {{ user.email }}
        </div>
    {% endfor %}

    <h2 class="row">Пользователи бд mysitedb2:</h2>
    {% for user in users_mysitedb2 %}
        <div class="row">
            {{ user.name }}, {{ user.email }}
        </div>
    {% endfor %}

{% endblock %}